.page_single-news {
    .the_content {
        padding: 80px 0 100px 0;

        @include mediaMaxWidth(1024px) {
            padding: 40px 0;
        }

        &_l {
            width: percentage($number: 740/1280);

            @include mediaMaxWidth(1024px) {
                width: 60%;
            }

            @include mediaMaxWidth(1024px) {
                width: 100%;
            }

            .tw-title h2 {
                font-size: 36px;
                font-weight: 600;
                line-height: 133.333%;
                letter-spacing: 0.18px;
                margin-bottom: 24px;

                @include mediaMaxWidth(820px) {
                    font-size: 26px;
                }

                @include mediaMaxWidth(820px) {
                    font-size: 26px;
                }

                @include mediaMaxWidth(576px) {
                    font-size: 18px;
                }
            }



            .date {
                color: #EEA32C;
                font-size: 15px;
                font-weight: 600;
                line-height: 133.333%;
                letter-spacing: 0.075px;
                margin-bottom: 48px;

                @include mediaMaxWidth(576px) {
                    margin-bottom: 30px;

                }
            }

            .tags {
                margin: 56px 0 65px;

                @include mediaMaxWidth(820px) {
                    margin: 30px 0;
                }
            }

            .share-post {
                padding: 12px 0;
                border: 1px solid #D5D6DD;
                border-left: unset;
                border-right: unset;
                color: #818498;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 133.333%;
                letter-spacing: 0.09px;

                ul li {
                    width: 24px;
                    height: 24px;
                    margin-left: 15px;

                    svg {
                        width: 100%;
                        height: 100%;
                        transition: .3s ease-in;

                        path {
                            transition: .3s ease-in;
                        }
                    }

                    a:hover svg path {
                        fill: #eea32c;
                    }
                }
            }
        }

        &_r {
            width: percentage($number: 416/1280);
            position: relative;

            @include mediaMaxWidth(1024px) {
                width: 100%;
            }

            @include mediaMaxWidth(1024px) {
                margin-top: 30px;
            }

            h2 {
                color: #22242A;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 100%;
                letter-spacing: 2.7px;
                text-transform: uppercase;
                margin-bottom: 36px;
            }

            .sticky {
                position: sticky;
                top: 110px;
                left: 0;
            }

            .list_posts.lists-rows {


                .item_post {
                    width: 100%;
                    margin-bottom: 24px;

                    &:last-child {
                        margin-bottom: 0x;
                    }

                    .thumb {
                        aspect-ratio: 200/114;
                        width: percentage($number: 200/416);
                        display: flex;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                            border-radius: 8px;
                        }
                    }

                    .content {
                        width: percentage($number: 200/416);

                        .date {
                            color: #8F621A;
                            font-size: 12px;
                            font-weight: 500;
                            line-height: 166.667%;
                            letter-spacing: 0.12px;
                            margin-bottom: 6px;
                        }

                        h3 {
                            @include wordBreak(3, auto);
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 133.333%;
                            letter-spacing: 0.09px;
                            transition: .3s ease-in;
                        }
                    }

                    &:hover {
                        .content .tw-title h3 {
                            color: #EEA32C;
                        }
                    }
                }
            }
        }
    }


}