// loading ajax icon
.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    @include flexCenterDirection;
    display: none;

    &.active {
        display: flex;
        z-index: 9999;
    }

    &__icon {
        width: clamp(50px, 10vw, 100px);
        height: clamp(50px, 10vw, 100px);
        border-radius: 50%;
        border: 2px solid #fff;
        overflow: hidden;
        border-top-color: transparent;
        animation: spin 1s linear infinite;
    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }


}