// css modal scroll content
.modal {
    max-height: 100vh;
    padding: 0 !important;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 0;
    background: rgba(0, 0, 0, 0.5);
    &.active {
        display: block;
        z-index: 9999;
    }
    .modal-dialog {
        width: 100%;
        max-width: 1000px;
        height: 100%;
        max-height: 100%;
        margin: auto;
        padding: 0 15px;
        background: #fff;
        overflow-y: auto;
        .modal-content {
            border: none;
            border-radius: 0;
            box-shadow: none;
            padding: 0;
            .modal-body {
                padding: 90px 15px;
                .entry-title{
                    text-align: center;
                    font-size: 2rem;
                    line-height: 1.34em;
                    margin-bottom: 1rem;
                }
                p{
                    margin-block: 1em;
                }
            }
        }
    }
    .close{
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        border: none;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        @include flexCenterDirection;
    }

}
