.section-4 {
    padding: 124px 0 100px 0;
    background-image: url("../main/assets/images/home/section4-background.jpg");
    background-position: 50% 80%;
    background-size: cover;
    background-repeat: no-repeat;

    .section-3-wrap {
        @include mediaMaxWidth("991px") {
            flex-direction: column;
        }
    }

    @include mediaMaxWidth(820px) {
        padding: 50px 0 50px;
    }

    .section-4-l {
        width: percentage($number: 362/1280);

        @include mediaMaxWidth("991px") {
            width: 100%;
        }

        .tw-title {
            margin-bottom: 48px;
        }

        #slide_4-l .certificate_name {
            color: #eea32c;
            font-size: 18px;
            font-weight: 600;
            line-height: 133.333%;
            letter-spacing: 0.09px;
            margin-bottom: 16px;
        }

        #slide_4-l .the_content {
            text-align: justify;
            font-size: 15px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: 0.075px;
        }

        .slide_4-l_content {
            display: none;

            &.active {
                display: block;
            }
        }
    }

    .section-4-r {
        width: percentage($number: 836/1280);

        position: relative;

        @include mediaMaxWidth("991px") {
            width: 100%;
        }

        .button {

            &-l,
            &-r {
                position: absolute;
                width: 32px;
                height: 32px;
                top: 60%;
                transform: translateY(-50%);
                z-index: 3;
                border-radius: 32px;
                cursor: pointer;
            }

            &-l {
                left: 16px;

                @include mediaMaxWidth(576px) {
                    left: -16px;
                }
            }

            &-r {
                right: 16px;

                @include mediaMaxWidth(576px) {
                    right: -16px;
                }
            }
        }

        #slide_4-r {
            width: percentage($number: 765/836);
            padding-top: 56px;

            .swiper-slide {
                position: relative;

                .box-outer {
                    padding-bottom: 36px;
                }

                .box_image {
                    background-color: #fff;
                    transform: scale(0.785) translateY(40px);
                    transition: all 0.4s ease;
                    position: relative;

                    &:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -36px;
                        width: 100%;
                        background-size: contain;
                        background-image: url(assets/images/home/shadow.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        height: 28px;

                        @include mediaMaxWidth("991px") {
                            height: 24px;
                        }

                        @include mediaMaxWidth("767px") {
                            height: 21px;
                        }
                    }

                    // padding: 6px;

                    .img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                    }

                    img:first-child {
                        display: block;
                        object-fit: cover;
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        // padding: 12px;
                    }
                }

                .decor {
                    aspect-ratio: 241/345;
                    display: block;
                    width: 100%;
                    height: 100%;
                    position: relative;
                    z-index: 9;
                }
            }

            .swiper-slide-active {
                .box_image {
                    background-color: #eea32c;
                    transform: scale(1) translateY(0);
                }

                .decor {
                    filter: brightness(99999);
                }
            }
        }
    }
}