.page_about {
  .intro {
    text-align: center;
    padding: 172px 0;
    color: #fff;
    position: relative;
    @include mediaMaxWidth(576px) {
      padding: 150px 0;
    }
    .sub_title {
      font-weight: 600;
      line-height: 100%;
      letter-spacing: 2.25px;
      text-transform: uppercase;
      margin-bottom: 24px;
    }
    .tw-title h3 {
      margin: 0 auto;
      span {
        color: #eea32c;
      }

      @include mediaMaxWidth(820px) {
        font-size: 28px;
      }
      @include mediaMaxWidth(576px) {
        font-size: 19px;
      }
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(18, 19, 23, 0.7);
      mix-blend-mode: multiply;
      z-index: -1;
    }
    .bacground_decor {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
    }
  }

  .history_and_value {
    position: relative;
    .image_background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
    }
  }

  .history {
    padding: 96px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: linear-gradient(
        47deg,
        rgba(217, 217, 217, 0) 0%,
        #d9d9d9 100%
      );
      z-index: 0;
    }
    @include mediaMaxWidth(820px) {
      padding: 40px 0;
    }
    @include mediaMaxWidth(576px) {
      padding: 0;
      .tw-cover {
        padding: 0;
      }
    }
  }

  .history_wrap {
    padding: 75px 0;
    position: relative;
    @include mediaMaxWidth(820px) {
      padding: 0;
    }
    .history_slide-l {
      width: percentage($number: 1175/1280);
      @include mediaMaxWidth(1024px) {
        width: 100%;
        position: relative;
        &::before {
          width: percentage($number: 570/964);
          height: 120%;

          background: linear-gradient(
            218deg,
            rgba(247, 209, 150, 0.8) 0%,
            rgba(255, 255, 255, 1) 100%
          );
          backdrop-filter: blur(2px);
          top: 50%;
          transform: translateY(-50%);
          left: 0;
          position: absolute;
          content: "";
          @include mediaMaxWidth(820px) {
            display: none;
          }
        }
      }
    }

    &::before {
      width: percentage($number: 687/1280);
      height: 100%;
      aspect-ratio: 687/476;
      background: linear-gradient(
        218deg,
        rgba(247, 209, 150, 0.8) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      backdrop-filter: blur(2px);
      top: 0;
      left: 0;
      position: absolute;
      content: "";
      @include mediaMaxWidth(1024px) {
        display: none;
      }
      @include mediaMaxWidth(820px) {
        display: block;
        width: 100%;
      }
    }
  }

  .history .history_slide-l .swiper-slide_box {
    display: none;
    position: relative;
    .content {
      width: percentage($number: 526/1175);
      padding: 32.5px 0 32.5px percentage($number: 54/1175);
      @include mediaMaxWidth(820px) {
        width: 100%;
      }
    }
    .content h2 {
      font-size: 36px;
      font-weight: 600;
      line-height: 133.333%;
      letter-spacing: 0.18px;
      margin-bottom: 24px;
      @include mediaMaxWidth(820px) {
        font-size: 28px;
      }
    }
    .content .the_content {
      overflow: scroll;
      height: 184px;
      text-align: justify;
      padding-right: percentage($number: 50/526);
      @include mediaMaxWidth(820px) {
        height: 100px;
      }
      :is(h1, h2, h3, h4, h5) {
        color: var(--dark-yellow-05-brand, #eea32c);
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: 0.09px;
        text-transform: uppercase;
        margin-bottom: 16px;
        @include mediaMaxWidth(820px) {
          font-size: 17px;
        }
      }
      &::-webkit-scrollbar {
        width: 6px;
        height: 100%;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #393b46;
      }

      &::-webkit-scrollbar-track {
        background-color: #bfb8ad;
      }
      @include mediaMaxWidth(820px) {
        overflow: unset;
        height: auto;
      }
    }
    .content ul,
    .content li {
      list-style: inside;
    }
    .image {
      width: percentage($number: 578/1175);
      aspect-ratio: 578/325;

      @include mediaMaxWidth(820px) {
        width: 90%;
        margin: 0 auto;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 16px;
      }
    }
    &.active {
      display: flex;
    }
  }

  .value {
    padding: 80px 0;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.2);
      z-index: 0;
    }

    @include mediaMaxWidth(820px) {
      padding: 40px 0;
    }
  }

  .value_wrap {
    position: relative;
    z-index: 1;
    .value_item {
      width: percentage($number: 416/1280);
      background-color: #fff;
      margin-right: percentage($number: 16/1280);
      border-radius: 16px;
      padding: 40px percentage($number: 48/1280) 66px;
      background-image: url("../main/assets/images/about/item_value_decor.svg");
      background-position: left top;
      background-repeat: no-repeat;
      background-size: contain;
      @include mediaMaxWidth(820px) {
        width: calc(50% - 8px);
        margin-right: 16px;
        margin-bottom: 20px;
      }
      @include mediaMaxWidth(576px) {
        margin-right: 0;
        margin-bottom: 20px;
        padding: 30px 15px 40px;
      }
      .icon {
        width: percentage($number: 80/320);
        margin: 0 auto 48px;
        aspect-ratio: 1/1;

        @include mediaMaxWidth(576px) {
          margin: 0 auto 30px;
        }
        img {
          object-fit: contain;
          width: 100%;
          height: 100%;
        }
      }
      &:nth-of-type(3n) {
        margin-right: 0;
        @include mediaMaxWidth(820px) {
          margin-right: 16px;
        }
        @include mediaMaxWidth(576px) {
          margin-right: 0;
        }
      }
      @include mediaMaxWidth(820px) {
        &:nth-of-type(2n) {
          margin-right: 0;
        }
      }

      p.title {
        color: #5f4112;
        font-size: 30px;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: 0.15px;
        text-align: center;
        margin-bottom: 18px;
        @include mediaMaxWidth(820px) {
          font-size: 27px;
        }
      }
      .content {
        strong {
          font-weight: 600;
        }
        p {
          margin-bottom: 14px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .history_slide-r {
    width: percentage($number: 71/1280);
    padding: 62px 0;
    position: relative;
    #swiper_vertical {
      height: 100%;
    }
    @include mediaMaxWidth(1024px) {
      width: 70%;
      margin: 0 auto;
    }
    @include mediaMaxWidth(820px) {
      width: 60%;
    }
    @include mediaMaxWidth(576px) {
      width: 90%;
      padding: 40px 0;
    }
    #swiper_vertical .swiper-slide {
      text-align: center;
      color: #818498;
      font-size: 15px;
      line-height: 160%;
      letter-spacing: 0.075px;
    }

    #swiper_vertical .swiper-slide-active {
      color: #121317;
      font-size: 30px;
      font-weight: 600;
      line-height: 133.333%;
      letter-spacing: 0.15px;
    }
    .swiper-wrapper {
      @include mediaMaxWidth(1024px) {
        align-items: center;
      }
    }
    .button-t,
    .button-b {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      cursor: pointer;
      z-index: 5;
      @include mediaMaxWidth(1024px) {
        transform: translateY(-50%);
      }
    }
    .button-t {
      top: 15px;
      @include mediaMaxWidth(1024px) {
        left: -15px;
        top: 50%;
        transform: translateY(-50%) rotate(270deg);
      }
    }
    .button-b {
      bottom: 15px;
      @include mediaMaxWidth(1024px) {
        right: -15px;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        left: unset;
      }
    }
  }

  .certificate {
    background-image: url("../main/assets/images/about/background_certificate.svg");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 88px 0 100px 0;
    .tw-title h3 {
      margin: 0 auto;
      @include mediaMaxWidth(576px) {
        font-size: 28px;
      }
    }
    .certificate_slide {
      position: relative;
    }

    .button {
      &-l,
      &-r {
        position: absolute;
        width: 32px;
        height: 32px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        border-radius: 32px;
        cursor: pointer;
      }

      &-l {
        left: 16px;

        @include mediaMaxWidth(820px) {
          left: 0px;
        }
      }

      &-r {
        right: 16px;

        @include mediaMaxWidth(820px) {
          right: 0px;
        }
      }
    }

    #slide_4-r {
      width: percentage($number: 1166/1280);
      padding-top: 42px;

      .swiper-slide {
        position: relative;

        .box_image {
          background-color: #fff;
          transform: scale(0.859) translateY(30px);
          transition: all 0.4s ease;
          position: relative;

          .img {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }

          img:first-child {
            display: block;
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
          }
        }

        .decor {
          aspect-ratio: 241/345;
          display: block;
          width: 100%;
          height: 100%;
          position: relative;
          z-index: 9;
        }
        .name {
          display: none;
          text-align: center;
          p {
            margin-top: 32px;
            font-size: 18px;
            line-height: 133.333%;
            text-transform: uppercase;
          }

          strong {
            color: var(--dark-yellow-07, #8f621a);
            font-size: 15px;
            font-weight: 600;
            line-height: 133.333%;
            letter-spacing: 0.075px;
            text-transform: capitalize;
          }
        }
      }

      .swiper-slide-prev {
        .box_image {
          transform: scale(0.859) translateY(30px) translateX(-14px);
        }
      }

      .swiper-slide-next {
        .box_image {
          transform: scale(0.859) translateY(30px) translateX(14px);
        }
      }

      .swiper-slide-active {
        .box_image {
          background-color: #eea32c;
          transform: scale(1) translateY(0);
        }

        .name {
          display: block;
        }

        .decor {
          filter: brightness(99999);
        }
      }
    }
  }
}
